@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  background-color: #284662;
  overflow-x: hidden;
  position: relative;
  font-family: Montserrat;

}

.container {
  background: #fff;
  width: 540px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgb(6, 6, 6);
  border: 0.1em solid #fff;
  border-radius: 10px;
  margin-bottom: 60px;

}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: #284662;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
  border: 0.1em solid #fff;
  border-radius: 10px;
}

nav a {
  list-style: none;
  padding: 35px;
  color: #5c5c5c;
  font-size: 1.1em;
  display: block;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: orangered;
  cursor: pointer;
  transform: scale(1.2);
}

nav a:first-child {
  margin-top: 7px;
}

nav a.active {
  color: #fff;
}

.rightbox {
  width: 60%;
  margin-left: 27%;
  padding: 5px;
}

.tabShow {
  transition: all 0.5s ease-in;
  width: 80%;
  position: absolute;
}

h1 {
  font-family: Montserrat;
  color: #222;
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  font-family: Montserrat;
  color: #777;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 10px;
}

.profileInput,
p {
  border: 0;
  width: 80%;
  font-family: Montserrat;
  font-size: 1.3em;
  padding: 7px 0;
  color: #070707;
  outline: none;
}

.profileInput {
  border: 0;
  border-bottom: 1px solid orangered;
  width: 80%;
  font-family: Montserrat;
  font-size: .9em;
  padding: 7px 0;
  color: #070707;
  outline: none;
}

span {
  font-size: 0.7em;
  color: #777;
}

.btn {
  width: 160px;
  height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  border-radius: 23px;
  font-weight: 400;
  display: inline-block;
  margin-inline: auto;
  outline: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn:hover {
  background-color: orangered;
}

.tabShow {
  display: none;
}
#ashop{
  display: inline-block;
  text-decoration: none;
}
#btnshop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
